In [2]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
import os

In [37]:
df_matchings = np.load('/home/dascim/repos/from_odyssee/resultats/matching_across_stainings_001_from_gt.npy', allow_pickle=True)
df_matchings.head(50)

    Staining1: 25  Staining2: 106  Staining3: 107  Staining4: 108
0               2               2               2               2
1               3               3               3               3
2               4               8               8               8
3               5               5               5               5
4               6               6               6               7
5               7               9               9               9
6               8               7               7               6
7               9              10              10              10
8              11              15              12              14
9              10              17              13              16
10             12              13              14              15
11             13              12              15              12
12             14              16              17              17
13             16              14              16              13
14             17              20              18              22
15             18              18              19              19
16             19              23              20              24
17             20              26              24              26
18             21              27              27              27
19             22              19              21              21
20             23              29              28              29
21             27              28              29              28
22             28              33              32              33
23             29              35              33              34
24             30              30              31              30
25             31              37              37              37
26             32              32              34              35
27             33              36              36              36
28             34              34              35              32
29             35              38              38              39
30             36              46              41              46
31             37              45              44              45
32             38              44              43              44
33             39              43              42              43
34             40              41              40              42
35             41              39              39              38
36             42              40              45              41
37             43              48              46              48
38             44              49              48              50
39             45              53              52              53
40             46              52              50              52
41             47              47              49              47
42             48              50              51              51
43             50              54              54              55
44             51              63              59              62
45             52              65              63              65
46             54              60              56              60
48             55              56              55              58
49             56              51              53              49
50             57              59              57              61

In [33]:
df_matchings_seg = pd.read_pickle('/home/dascim/repos/from_odyssee/resultats/matching_across_stainings_001_from_segmentation.npy')
df_matchings_seg

      s1   s2   s3   s4
0      3    3    3    4
1      4    5    4    6
2      5    6    5    8
3      6    7    6    7
4      7    8    8    9
..   ...  ...  ...  ...
108  156  155  159  159
109  157  158  160  162
110  158  157  161  160
111  159  149  157  152
112  160  152  162  156

[109 rows x 4 columns]

In [20]:
df_centroids_25_gt = np.load('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_001_25_gt_centroids.npy', allow_pickle=True)
df_centroids_25_gt.reset_index().head(20)

    label     centroid
0       1  [288, 1079]
1       2  [380, 1001]
2       4  [463, 1006]
3       5  [486, 1092]
4       7   [445, 554]
5       8   [465, 602]
6       9   [484, 682]
7      10   [489, 541]
8      11   [535, 771]
9      12   [582, 530]
10     13   [591, 602]
11     14   [586, 745]
12     15   [570, 797]
13     16  [541, 1021]
14     17  [540, 1187]
15     19   [702, 193]
16     20   [690, 433]
17     22   [666, 666]
18     23   [627, 934]
19     24  [630, 1186]

In [5]:
df_centroids_25 = np.load('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_001_25_centroids_from_gt.npy', allow_pickle=True)
df_centroids_25.iloc[75]

centroid    [1181, 357]
label gt             80
Name: 76, dtype: object

In [18]:
df_centroids_25['x'] = df_centroids_25["centroid"].apply(lambda a : a[0])
df_centroids_25['y'] = df_centroids_25["centroid"].apply(lambda a : a[1])
df_centroids_25.reset_index(drop=True).head(20) #[df_centroids_25['x'] > 940].sort_values('x').head(20)

       centroid  label gt    x     y
0   [288, 1079]         1  288  1079
1   [380, 1001]         2  380  1001
2    [445, 554]         7  445   554
3   [463, 1006]         4  463  1006
4    [465, 602]         8  465   602
5    [484, 682]         9  484   682
6   [486, 1092]         5  486  1092
7    [489, 541]        10  489   541
8    [535, 771]        11  535   771
9   [541, 1021]        16  541  1021
10  [540, 1187]        17  540  1187
11   [570, 797]        15  570   797
12   [582, 530]        12  582   530
13   [586, 745]        14  586   745
14   [587, 859]       215  587   859
15   [591, 602]        13  591   602
16  [607, 1239]        25  607  1239
17   [627, 934]        23  627   934
18  [630, 1186]        24  630  1186
19  [646, 1446]        35  646  1446

In [36]:
pd.merge(df_matchings, df_centroids_25.reset_index(drop=True), left_on="Staining1: 25", right_index=True, how="left").head(50)

,Staining1: 25,Staining2: 106,Staining3: 107,Staining4: 108,centroid,label gt,x,y
0,2,2,2,2,"[445, 554]",7,445,554
1,3,3,3,3,"[463, 1006]",4,463,1006
2,4,8,8,8,"[465, 602]",8,465,602
3,5,5,5,5,"[484, 682]",9,484,682
4,6,6,6,7,"[486, 1092]",5,486,1092
5,7,9,9,9,"[489, 541]",10,489,541
6,8,7,7,6,"[535, 771]",11,535,771
7,9,10,10,10,"[541, 1021]",16,541,1021
8,11,15,12,14,"[570, 797]",15,570,797
9,10,17,13,16,"[540, 1187]",17,540,1187
10,12,13,14,15,"[582, 530]",12,582,530
11,13,12,15,12,"[586, 745]",14,586,745
12,14,16,17,17,"[587, 859]",215,587,859
13,16,14,16,13,"[607, 1239]",25,607,1239
14,17,20,18,22,"[627, 934]",23,627,934
15,18,18,19,19,"[630, 1186]",24,630,1186
16,19,23,20,24,"[646, 1446]",35,646,1446
17,20,26,24,26,"[664, 1417]",34,664,1417
18,21,27,27,27,"[666, 666]",22,666,666
19,22,19,21,21,"[667, 1516]",36,667,1516
20,23,29,28,29,"[686, 1084]",216,686,1084
21,27,28,29,28,"[726, 1320]",32,726,1320
22,28,33,32,33,"[734, 1240]",31,734,1240
23,29,35,33,34,"[757, 628]",27,757,628
24,30,30,31,30,"[770, 1404]",37,770,1404
25,31,37,37,37,"[776, 812]",29,776,812
26,32,32,34,35,"[804, 697]",28,804,697
27,33,36,36,36,"[811, 295]",26,811,295
28,34,34,35,32,"[828, 1196]",40,828,1196
29,35,38,38,39,"[841, 1727]",59,841,1727
30,36,46,41,46,"[852, 1594]",58,852,1594
31,37,45,44,45,"[854, 1541]",57,854,1541
32,38,44,43,44,"[858, 1485]",49,858,1485
33,39,43,42,43,"[861, 1315]",55,861,1315
34,40,41,40,42,"[887, 541]",38,887,541
35,41,39,39,38,"[888, 933]",39,888,933
36,42,40,45,41,"[892, 1265]",54,892,1265
37,43,48,46,48,"[902, 1343]",56,902,1343
38,44,49,48,50,"[904, 1718]",70,904,1718
39,45,53,52,53,"[907, 1625]",69,907,1625
40,46,52,50,52,"[940, 751]",52,940,751
41,47,47,49,47,"[947, 881]",53,947,881
42,48,50,51,51,"[953, 146]",50,953,146
43,50,54,54,55,"[978, 1581]",71,978,1581
44,51,63,59,62,"[981, 1724]",72,981,1724
45,52,65,63,65,"[993, 1119]",67,993,1119
46,54,60,56,60,"[995, 939]",64,995,939
48,55,56,55,58,"[1000, 350]",51,1000,350
49,56,51,53,49,"[1004, 1015]",65,1004,1015
50,57,59,57,61,"[1017, 1270]",68,1017,1270

In [43]:
range(1, len(df_matchings_seg))

range(1, 109)

In [45]:
df_matchings_seg.index = range(1, len(df_matchings_seg)+1)

In [47]:
pd.merge(df_matchings_seg, df_centroids_25_seg, left_on="s1", right_index=True, how="left").tail(20)

      s1   s2   s3   s4      centroid  label gt centroid non register
90   130  122  132  126   [1711, 831]       127           [1711, 831]
91   134  127  136  130   [1751, 681]       134           [1751, 681]
92   135  132  137  133   [1754, 761]        44           [1754, 761]
93   136  144  146  150  [1762, 2139]       163          [1762, 2139]
94   139  128  139  132   [1781, 472]       132           [1781, 472]
95   140  137  141  141   [1784, 708]       135           [1784, 708]
96   143  150  150  155  [1795, 2055]       166          [1795, 2055]
97   145  147  149  154  [1799, 1921]       168          [1799, 1921]
98   146  143  148  149  [1802, 1491]       175          [1802, 1491]
99   147  146  151  151  [1818, 1557]       174          [1818, 1557]
100  149  139  147  145   [1833, 749]       158           [1833, 749]
101  150  151  154  158  [1864, 1647]       173          [1864, 1647]
102  151  142  152  148   [1869, 658]       157           [1869, 658]
103  154  153  158  157  [1904, 1173]       182          [1904, 1173]
104  155  160  163  165  [1904, 1572]       178          [1904, 1572]
105  156  155  159  159  [1906, 1220]       181          [1906, 1220]
106  157  158  160  162  [1909, 1398]       179          [1909, 1398]
107  158  157  161  160  [1919, 1269]       180          [1919, 1269]
108  159  149  157  152   [1936, 492]       185           [1936, 492]
109  160  152  162  156   [1955, 631]       184           [1955, 631]

In [22]:
df_centroids_25_seg = pd.read_pickle('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_001_25_centroids_from_segmentation.npy')
df_centroids_25_seg.reset_index().head(23)

    label     centroid  label gt centroid non register
0       1  [287, 1078]         1           [287, 1078]
1       2  [379, 1000]         2           [379, 1000]
2       3   [445, 553]         7            [445, 553]
3       4   [468, 604]         8            [468, 604]
4       5   [484, 681]         9            [484, 681]
5       6   [489, 541]        10            [489, 541]
6       7   [536, 770]        11            [536, 770]
7       8  [541, 1181]        17           [541, 1181]
8       9   [570, 797]        15            [570, 797]
9      10   [582, 529]        12            [582, 529]
10     11   [585, 745]        14            [585, 745]
11     12   [586, 859]       215            [586, 859]
12     13   [589, 602]        13            [589, 602]
13     14  [609, 1239]        25           [609, 1239]
14     15  [630, 1185]        24           [630, 1185]
15     16  [664, 1415]        34           [664, 1415]
16     17   [666, 664]        22            [666, 664]
17     18   [676, 439]        20            [676, 439]
18     19  [687, 1083]       216           [687, 1083]
19     20   [702, 192]        19            [702, 192]
20     21   [708, 426]        20            [708, 426]
21     22  [709, 1019]        30           [709, 1019]
22     23  [724, 1319]        32           [724, 1319]

In [16]:
len(df_centroids_25_seg)

161

In [8]:
df_centroids_106 = np.load('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_001_106_centroids_from_gt.npy', allow_pickle=True)
df_centroids_106

           centroid  label gt
label
1       [251, 1175]         1
2       [334, 1083]         2
3        [364, 592]         7
4       [373, 1000]         3
5        [383, 645]         8
...             ...       ...
192    [1898, 1220]       180
193    [1900, 1343]       179
194     [1906, 860]       183
195    [1914, 1518]       178
196     [1924, 458]       187

[196 rows x 2 columns]

In [9]:
df_centroids_106 = np.load('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_001_106_gt_centroids.npy', allow_pickle=True)
df_centroids_106

           centroid
label
1       [251, 1175]
2       [334, 1083]
3       [373, 1000]
4       [419, 1078]
5       [450, 1165]
...             ...
227     [1790, 608]
600     [979, 1451]
601    [1048, 1367]
602    [1147, 1421]
603     [1485, 550]

[196 rows x 1 columns]

In [10]:
files = os.listdir('/home/dascim/repos/from_odyssee/resultats/')
files.sort()
files

['IFTA_EXC_001_106_centroids_from_gt.npy',
 'IFTA_EXC_001_106_centroids_from_segmentation.npy',
 'IFTA_EXC_001_106_crop_lod4_transform_params.txt',
 'IFTA_EXC_001_106_gt_centroids.npy',
 'IFTA_EXC_001_106_labeled_image_from_gt.tif',
 'IFTA_EXC_001_106_labeled_image_from_segmentation.tif',
 'IFTA_EXC_001_106_segmentation_result.png',
 'IFTA_EXC_001_107_centroids_from_gt.npy',
 'IFTA_EXC_001_107_centroids_from_segmentation.npy',
 'IFTA_EXC_001_107_crop_lod4_transform_params.txt',
 'IFTA_EXC_001_107_gt_centroids.npy',
 'IFTA_EXC_001_107_labeled_image_from_gt.tif',
 'IFTA_EXC_001_107_labeled_image_from_segmentation.tif',
 'IFTA_EXC_001_107_segmentation_result.png',
 'IFTA_EXC_001_108_centroids_from_gt.npy',
 'IFTA_EXC_001_108_centroids_from_segmentation.npy',
 'IFTA_EXC_001_108_gt_centroids.npy',
 'IFTA_EXC_001_108_labeled_image_from_gt.tif',
 'IFTA_EXC_001_108_labeled_image_from_segmentation.tif',
 'IFTA_EXC_001_108_segmentation_result.png',
 'IFTA_EXC_001_25_centroids_from_gt.npy',
 'IFTA_EXC_001_25_centroids_from_segmentation.npy',
 'IFTA_EXC_001_25_crop_lod4_transform_params.txt',
 'IFTA_EXC_001_25_gt_centroids.npy',
 'IFTA_EXC_001_25_labeled_image_from_gt.tif',
 'IFTA_EXC_001_25_labeled_image_from_segmentation.tif',
 'IFTA_EXC_001_25_segmentation_result.png',
 'IFTA_EXC_001_matching_106_107_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_gt.npy',
 'IFTA_EXC_001_matching_106_107_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'IFTA_EXC_001_matching_107_108_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_gt.npy',
 'IFTA_EXC_001_matching_107_108_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'IFTA_EXC_001_matching_25_106_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_gt.npy',
 'IFTA_EXC_001_matching_25_106_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'IFTA_EXC_002_106_centroids_from_segmentation.npy',
 'IFTA_EXC_002_106_gt_centroids.npy',
 'IFTA_EXC_002_106_labeled_image_from_segmentation.tif',
 'IFTA_EXC_002_106_segmentation_result.png',
 'IFTA_EXC_002_107_centroids_from_segmentation.npy',
 'IFTA_EXC_002_107_gt_centroids.npy',
 'IFTA_EXC_002_107_labeled_image_from_segmentation.tif',
 'IFTA_EXC_002_107_segmentation_result.png',
 'IFTA_EXC_002_108_centroids_from_segmentation.npy',
 'IFTA_EXC_002_108_gt_centroids.npy',
 'IFTA_EXC_002_108_labeled_image_from_segmentation.tif',
 'IFTA_EXC_002_108_segmentation_result.png',
 'IFTA_EXC_002_25_centroids_from_segmentation.npy',
 'IFTA_EXC_002_25_gt_centroids.npy',
 'IFTA_EXC_002_25_labeled_image_from_segmentation.tif',
 'IFTA_EXC_002_25_segmentation_result.png',
 'IFTA_EXC_002_matching_106_107_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'IFTA_EXC_002_matching_107_108_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'IFTA_EXC_002_matching_25_106_lod_4_max_dist_300_nb_nn_4_max_nn_6_from_segmentation.npy',
 'centroids',
 'features',
 'matching_across_stainings_001_from_gt.npy',
 'matching_across_stainings_001_from_segmentation.npy',
 'matching_across_stainings_002_from_segmentation.npy']

In [11]:
df_features = np.load('/home/dascim/repos/from_odyssee/resultats/features/001_cell_densities_inside_norm_from_gt.npy', allow_pickle=True)

In [12]:
df_features

,tcell _25,tcell _106,tcell _107,tcell _108,cd68,cd163,cd206,ms4a4a
0,0.027225,0.076000,0.316406,0.010931,0.000000,0.066371,0.291277,0.001030
1,0.024485,0.007435,0.011062,0.004850,0.054299,0.145036,0.118012,0.000814
2,0.019969,0.241079,0.141972,0.037560,0.020531,0.129443,0.243805,0.023673
3,0.093745,0.255361,0.091854,0.203063,0.095129,0.043360,0.270561,0.003495
4,0.252721,0.259081,0.155254,0.186598,0.063134,0.056915,0.279453,0.016051
...,...,...,...,...,...,...,...,...
104,0.566995,0.291949,0.498887,0.397754,0.037162,0.107047,0.044047,0.005152
105,0.724605,0.447991,0.517195,0.298149,0.056707,0.318029,0.066525,0.018618
106,0.363069,0.254405,0.466490,0.228540,0.068042,0.162680,0.125074,0.046812
107,0.000349,0.117970,0.019768,0.052919,0.041345,0.020358,0.029522,0.000000
108,0.133021,0.151846,0.085035,0.106783,0.062626,0.074397,0.022962,0.032695

In [13]:
df_features_outside = np.load('/home/dascim/repos/from_odyssee/resultats/features/001_cell_densities_outside_norm_from_gt.npy', allow_pickle=True)
df_features_outside

,tcell _25,tcell _106,tcell _107,tcell _108,cd68,cd163,cd206,ms4a4a
0,0.257025,0.137250,0.184868,0.114819,0.000000,0.066371,0.291277,0.001030
1,0.135442,0.158814,0.168364,0.117144,0.054299,0.145036,0.118012,0.000814
2,0.111499,0.145635,0.182275,0.126289,0.020531,0.129443,0.243805,0.023673
3,0.144996,0.177253,0.169619,0.131961,0.095129,0.043360,0.270561,0.003495
4,0.107625,0.150062,0.156237,0.124611,0.063134,0.056915,0.279453,0.016051
...,...,...,...,...,...,...,...,...
104,0.273011,0.197233,0.272433,0.218574,0.037162,0.107047,0.044047,0.005152
105,0.319537,0.337932,0.343532,0.314880,0.056707,0.318029,0.066525,0.018618
106,0.218846,0.228941,0.253933,0.227141,0.068042,0.162680,0.125074,0.046812
107,0.241547,0.360451,0.380728,0.369360,0.041345,0.020358,0.029522,0.000000
108,0.269281,0.283465,0.423315,0.349629,0.062626,0.074397,0.022962,0.032695

In [14]:
df_features_norm = np.load('/home/dascim/repos/from_odyssee/resultats/features/001_dist_tcell_macro_norm_from_gt.npy', allow_pickle=True)
df_features_norm

,mean stain _25,mean stain _106,mean stain _107,mean stain _108,std stain _25,std stain _106,std stain _107,std stain _108
0,0.379143,0.456065,0.303972,0.419035,0.475022,0.422118,0.348021,0.372128
1,0.432177,0.379715,0.285550,0.370456,0.387964,0.349221,0.313984,0.375340
2,0.474503,0.410436,0.257340,0.336418,0.464213,0.379128,0.266491,0.303188
3,0.382458,0.412243,0.291019,0.299736,0.355244,0.364486,0.362269,0.271312
4,0.434727,0.388751,0.339666,0.417713,0.451358,0.294704,0.254090,0.310353
...,...,...,...,...,...,...,...,...
104,0.109893,0.251412,0.157743,0.164574,0.100497,0.258567,0.178628,0.159130
105,0.088220,0.171900,0.090098,0.148711,0.060181,0.177570,0.073351,0.151470
106,0.140490,0.257511,0.145941,0.146728,0.098452,0.248910,0.145910,0.150482
107,0.213921,0.176417,0.179908,0.144746,0.277826,0.166667,0.173087,0.169755
108,0.185365,0.274904,0.126367,0.123926,0.210342,0.221495,0.121636,0.118853

In [15]:
df_features_glom = np.load('/home/dascim/repos/from_odyssee/resultats/features/001_dist_to_glom_norm_from_gt.npy', allow_pickle=True)
df_features_glom

,mean tcell _25,mean tcell _106,mean tcell _107,mean tcell _108,mean cd68,mean cd163,mean cd206,mean ms4a4a,std tcell _25,std tcell _106,std tcell _107,std tcell _108,std cd68,std cd163,std cd206,std ms4a4a
0,0.812906,0.724062,0.770907,0.485767,0.800146,0.821065,0.707636,0.668751,0.828713,0.843320,0.899390,0.287486,0.905649,0.901237,0.883988,0.650389
1,0.871494,0.779255,0.763793,0.602008,0.825825,0.824887,0.765938,0.528083,0.934178,1.000000,0.921328,0.798922,0.948378,1.000000,0.950235,0.914913
2,0.909612,0.789571,0.906295,0.726895,0.932499,0.837572,0.824555,0.719282,0.850689,0.916598,0.849557,0.565518,0.871507,0.853392,0.844908,0.468207
3,0.908466,0.837597,0.868024,0.797380,0.895138,0.894095,0.846090,0.613395,0.874892,0.798437,0.867318,0.561045,0.911885,0.909988,0.875624,0.565416
4,0.848431,0.786367,0.781724,0.661130,0.859103,0.918230,0.800794,0.884733,0.890728,0.887709,0.898627,0.568059,0.868509,0.778450,0.868243,0.516926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,0.813293,0.863992,0.877606,0.840645,0.817874,0.951258,0.866937,1.000000,0.945741,0.976552,0.884643,0.828911,0.948071,0.979659,0.967035,0.839318
105,0.706704,0.759143,0.756403,0.483540,0.767050,0.817548,0.786936,0.577919,0.833273,0.875870,0.874401,0.760089,0.749966,0.797878,0.777009,0.284195
106,0.748474,0.702108,0.788170,0.466928,0.827622,0.821339,0.804304,0.691025,0.974361,0.932691,0.969853,0.974687,0.898051,0.925226,0.931328,0.576052
107,0.896935,0.890527,0.874093,0.839890,0.925554,0.915215,0.849987,0.845590,0.870045,0.850279,0.877561,0.623157,0.868713,0.994661,0.941766,0.935499
108,0.728563,0.738595,0.762414,0.429364,0.790216,0.812020,0.808456,0.532407,0.790649,0.767998,0.759335,0.286368,0.803905,0.787606,0.832853,0.436757

## Patient 2

In [90]:
df_matchings_seg = pd.read_pickle('/home/dascim/repos/from_odyssee/resultats/matching_across_stainings_002_from_segmentation.npy')
df_matchings_seg.head()

   s1  s2  s3  s4
1   2   1   3   4
2   3   3   2   2
3   4   2   4   5
4   6   6   8  12
5   7   7   9  14

In [96]:
df_centroids_25_seg = pd.read_pickle('/home/dascim/repos/from_odyssee/resultats/IFTA_EXC_002_25_centroids_from_segmentation.npy')
df_centroids_25_seg.reset_index().head(23)

    label      centroid  label gt centroid non register
0       1   [510, 1165]         1           [510, 1165]
1       2   [632, 1261]         4           [632, 1261]
2       3   [664, 1055]         2           [664, 1055]
3       4   [672, 1225]         3           [672, 1225]
4       5   [759, 1296]         6           [759, 1296]
5       6   [823, 1239]         7           [823, 1239]
6       7   [828, 1306]         8           [828, 1306]
7       8   [835, 1376]         9           [835, 1376]
8       9    [844, 684]        14            [844, 684]
9      10    [878, 771]        15            [878, 771]
10     11    [908, 858]        17            [908, 858]
11     12   [939, 1061]        13           [939, 1061]
12     13    [952, 752]        16            [952, 752]
13     14    [970, 853]        18            [970, 853]
14     15   [1076, 972]        -1           [1076, 972]
15     16   [1101, 798]        29           [1101, 798]
16     17  [1105, 1180]        40          [1105, 1180]
17     18   [1110, 540]        26           [1110, 540]
18     19  [1125, 1128]        39          [1125, 1128]
19     20   [1147, 707]        28           [1147, 707]
20     21   [1152, 447]        25           [1152, 447]
21     22   [1187, 766]        30           [1187, 766]
22     23  [1195, 1136]        41          [1195, 1136]

In [92]:
df_matchings_seg.index = range(1, len(df_matchings_seg)+1)

In [97]:
pd.merge(df_matchings_seg, df_centroids_25_seg, left_on="s1", right_index=True, how="left").head(20)

    s1  s2  s3  s4      centroid  label gt centroid non register
1    2   1   3   4   [632, 1261]         4           [632, 1261]
2    3   3   2   2   [664, 1055]         2           [664, 1055]
3    4   2   4   5   [672, 1225]         3           [672, 1225]
4    6   6   8  12   [823, 1239]         7           [823, 1239]
5    7   7   9  14   [828, 1306]         8           [828, 1306]
6    8   5  12  16   [835, 1376]         9           [835, 1376]
7    9   8   5   6    [844, 684]        14            [844, 684]
8   10  11   7   7    [878, 771]        15            [878, 771]
9   13  14  13  11    [952, 752]        16            [952, 752]
10  14  15  14  15    [970, 853]        18            [970, 853]
11  15  16  19  23   [1076, 972]        -1           [1076, 972]
12  16  19  18  22   [1101, 798]        29           [1101, 798]
13  17  17  21  25  [1105, 1180]        40          [1105, 1180]
14  18  20  16  19   [1110, 540]        26           [1110, 540]
15  19  18  22  27  [1125, 1128]        39          [1125, 1128]
16  21  24  17  20   [1152, 447]        25           [1152, 447]
17  23  22  27  31  [1195, 1136]        41          [1195, 1136]
18  24  25  26  29  [1205, 1010]        35          [1205, 1010]
19  25  23  32  33  [1212, 1230]        42          [1212, 1230]
20  26  30  24  24   [1226, 594]        27           [1226, 594]